.dropwidth {
    color: DodgerBlue;
    padding-right: 132 px;
    font-family: Arial;
    text-align: center;
  }

.h5 {
  color: rgb(227, 52, 52);

}

.card-header {
  background-color: rgb(126, 119, 224);
}
